<div class="tab-container">
    <div></div>
    <div class="info-container">
        <div>
            <mat-label>Loan amount</mat-label>
            <div class="input-container">
                <mat-slider class="full-width" thumbLabel [displayWith]="formatLabel" [(ngModel)]=" loan.loanAmount"
                    tickInterval="10000" min="1" max="2500000" (ngModelChange)=calculateLoan()>
                </mat-slider>
                <mat-form-field class="input-value">
                    <mat-label>Loan amount</mat-label>
                    <input matInput type="number" [(ngModel)]="loan.loanAmount" (ngModelChange)=calculateLoan()>
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-label>Repayment period in years</mat-label>
            <div class="input-container">
                <mat-slider class="full-width" thumbLabel [displayWith]="formatLabel" [(ngModel)]=" loan.loanYears"
                    tickInterval="1" min="1" max="35" (ngModelChange)=calculateLoan()>
                </mat-slider>
                <mat-form-field class="input-value">
                    <mat-label>Repayment period in years</mat-label>
                    <input matInput type="number" [(ngModel)]="loan.loanYears" (ngModelChange)=calculateLoan()>
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-label>Interest rate</mat-label>
            <div class="input-container">
                <mat-slider class="full-width" thumbLabel disabled value=3.5 tickInterval="1" min="1" max="10">
                </mat-slider>
                <mat-form-field class="input-value">
                    <mat-label>Interest rate</mat-label>
                    <input matInput type="number" value=3.5 disabled>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart-title">
            <h3>Intrest rate chart </h3>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [legend]="chartLegend"
                [options]="chartOptionsLables" [chartType]="chartType">
            </canvas>
        </div>
    </div>
    <div class="chart-info">
        <mat-label>Total</mat-label>
        <div class="input-container">
            <mat-form-field class="input-value">
                <input matInput type="number" [ngModel]="round(loan.total)" disabled>
            </mat-form-field>
        </div>
        <mat-label>Interest amount</mat-label>
        <div class="input-container">
            <mat-form-field class="input-value">
                <input matInput type="number" [ngModel]="round(loan.interest)" disabled>
            </mat-form-field>
        </div>
        <mat-label>Year rate</mat-label>
        <div class="input-container">
            <mat-form-field class="input-value">
                <input matInput type="number" [ngModel]="round(loan.yearRate)" disabled>
            </mat-form-field>
        </div>

    </div>
</div>