@import '../../../../../scss/variables.scss';

.tab-container {
    padding: 30px 50px 30px 50px;
    display: grid;
    grid-template-columns: 20% 30% 20% 10%;
}

.full-width {
    width: 100%;
    margin-top: 27px;
}

.input-container {
    display: grid;
    grid-template-columns: 80% 20%;
}

.chart-title {
    width: 100%;
    text-align: center;
    margin: 10px 55px;
}

.chart-wrapper {
    text-align: center;
    padding-right: 50px;
    position: relative;
    height: 14vh;
    width: 28vw;
}

.chart-info {
    margin-left: 50px;
}

.input-value {
    width: 100%;
}

.mat-slider {
    width: 100%;
}

.generate-btn {
    margin: 0 auto;
    width: 300px;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: $navbar-color;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: $navbar-color;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: $navbar-color;
}